@import url('https://fonts.google.com/specimen/Outfit');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* add fonr family using external link */
}

body{
    background-color:hsl(212, 45%, 89%) ;
    font-family: 'Outfit',sans-serif;
    font-size: 15px;
    
}

p{
    /* font-size: 15px; */
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.header{
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin:5px 0 8px 0;
}

section{
    display: flex; 
    justify-content: center;
    align-items: center;
    /* border: 2px dotted purple; */
    height: 100vh;
     
}

.main-box{
    /* border: 1px solid red; */
    border-radius: 10px;
    padding: 9px;
    background-color: hsl(0, 0%, 100%);
    margin: 0 auto;
    height: 65vh;
    width:20%;
    min-width: 200px;
    /* position: absolute; */
    /* top: 50%;
    transform: translateY(-50%); */
    overflow: hidden;
   
}

 .image-box{
     
    /* border: 2px solid orange; */
    width: 100%;  
    height:55% ;  
    border-radius: 10px;
    /* background-image: url('\frontEndMentor\qr-code-component-main\images\image-qr-code.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
}

img{
    width: 100%;
    height:100%;
    object-fit: cover;
    background-position: center center;
    object-position: center center;
    /* overflow: hidden; */
    border-radius: 10px;

     
}
.text-box{
    /* border: 1px solid green; */
    height:45% ;  
    margin: 0 auto;
    text-align: center;
    top: 0;
    bottom: 0;
    align-content: center;
    padding: 3%;
} 